#menu{
    #links{
        flex-grow: 1;
        display: flex;
        gap: 20px;
        justify-content: right;
        color: white;
    }
    .link{
        cursor: pointer;
        &:hover{
            color: brown;
            
        }
    
    }
}