
<h1>espace animal</h1>



<!-- 
<section>
    <form>
        <input type="text" width="50" placeholder="Saisir un nom d'animal..."  value="Léo" #animalSearch>
        <button type="button" (click)="animalName = animalSearch.value">
          Rechercher l'animal
        </button>
    </form>
</section>

<section class="results">
  
  <section *ngIf="animalName">
  <app-animal-detail animalName="{{animalSearch.value}}"></app-animal-detail>
  
  </section>
</section>



<mat-toolbar id="top-menu-container">
  <button mat-button [matMenuTriggerFor]="topMenu" id="top-menu">
      <h2 id="main-title">M E N U
        <mat-icon>arrow_drop_down</mat-icon>
      </h2>

  </button>
  <mat-menu #topMenu="matMenu" yPosition="below" id="top-menu-item-list">
      <button mat-menu-item class="top-menu-item">
          <mat-icon>+</mat-icon>
          Nouveau module
      </button>
      <button mat-menu-item class="top-menu-item">
          <mat-icon>+</mat-icon>
          Gestion des animaux
      </button>
  </mat-menu>
</mat-toolbar>

<div class="main-content">
  <router-outlet></router-outlet>
</div>



-->


