<nav type="navbar navbar-expand-lg bg-light">
    <table>
        <td>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="gestionEmploye"
                data-bs-toggle="dropdown" aria-expanded="false">
                Gestion des employés
            </button>
            <ul class="dropdown-menu" aria-labelledby="gestionEmploye">
                <li><a class="dropdown-item" href="#">Ajouter un compte employé</a></li>
                <li><a class="dropdown-item" href="#">Supprimer un compte employé</a></li>
                <li><a class="dropdown-item" href="#">Modifier un compte employé</a></li>
            </ul>
        </td>
        <td>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                data-bs-toggle="dropdown" aria-expanded="false">
                Gestion des habitats
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="#">Ajouter un habitat</a></li>
                <li><a class="dropdown-item" href="#">Modifier un habitat</a></li>
                <li><a class="dropdown-item" href="#">Supprimer un habitat</a></li>
            </ul>
        </td>
        <td>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3"
                data-bs-toggle="dropdown" aria-expanded="false">
                Gestion les services
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                <li><a class="dropdown-item" href="#">Ajouter un service</a></li>
                <li><a class="dropdown-item" href="#">Modififer un service</a></li>
                <li><a class="dropdown-item" href="#">Supprimer un service</a></li>
            </ul>
        </td>
        <td>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                data-bs-toggle="dropdown" aria-expanded="false">
                Gestion les animaux
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                <li><a class="dropdown-item" href="#">Ajouter un animal</a></li>
                <li><a class="dropdown-item" href="#">Supprimer un animal</a></li>
                <li><a class="dropdown-item" href="#">Modifier un animal</a></li>
                <li><a class="dropdown-item" href="#">Consulter un animal</a></li>
            </ul>
        </td>
        <td>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton5"
                data-bs-toggle="dropdown" aria-expanded="false">
                Gestion des avis
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
                <li><a class="dropdown-item" href="#">Afficher les avis</a></li>
            </ul>
        </td>
        <td>
            <button class="btn btn-secondary" type="button" id="accueilVueUtilisateur" data-bs-toggle="dropdown"
                aria-expanded="false">
                Accueil
            </button>
        </td>
        <td>
            <button class="btn btn-secondary" type="button" id="habitatsVueUtilisateur" data-bs-toggle="dropdown"
                aria-expanded="false">
                Les habitats
            </button>
        </td>
        <td>
            <button class="btn btn-secondary" type="button" id="servicesVueUtilisateur" data-bs-toggle="dropdown"
                aria-expanded="false">
                Les Services
            </button>
        </td>
        <td>
            <button class="btn btn-secondary" type="button" id="contactVueUtilisateur" data-bs-toggle="dropdown"
                aria-expanded="false">
                Contact
            </button>
        </td>
        <td>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton6"
                data-bs-toggle="dropdown" aria-expanded="false">
                Bonjour Administrateur
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                <li><a class="dropdown-item" href="#">Se déconnecter</a></li>
            </ul>
        </td>
    </table>
</nav>