
<!--
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Arcadia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <td>
            <div class="collapse navbar-collapse" id="navBarMenuAdministrateur" al>
                <ul class="navbar-nav">
                    -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            | Espace Administrateur
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="gestionAnimal">Gestion des animaux</a></li>
                            <li><a class="dropdown-item" href="gestionHabitat">Afficher des habitats</a></li>
                            <li><a class="dropdown-item" href="gestionServices">Gestion des services</a></li>
                            <li><a class="dropdown-item" href="gestionAvis">Gestion des avis</a></li>
                            <li><a class="dropdown-item" href="gestionPersonnel">Gestion du personnel</a></li>
                            <li><a class="dropdown-item" href="connexion">Déonnexion</a></li>
                        </ul>
                    </li>
                    <!--
                </ul>   
            </div>
        </td>
    </div>
</nav>
-->