/* You can add global styles to this file, and also import other style files */
h1{
    color: brown;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;
}
body{
    background-color: white;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
